* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.container {
  width: 100%;
  height: 160rem;
}

.section1 {
  background-color: #1c1e26;
  width: 100%;
  height: 40rem;
}

.menu {
  display: flex;
  justify-content: end;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: aliceblue;
  gap: 1rem;
  list-style-type: none;
  margin-right: 5rem;
}

nav > h1 {
  position: relative;
  top: 1.5rem;
  left: 2rem;
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  color: darksalmon;
  cursor: pointer;
}

img {
  float: right;
  width: 200px;
  height: 150px;
  margin-top: 150px;
  margin-right: 200px;
}

.introduce2 {
  position: relative;
  top: 130px;
  left: 250px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: aliceblue;
}

.introduce2 h2 {
  color: rgb(230, 178, 46);
}

.introduce2 h3 {
  color: rgb(187, 7, 112);
}

i {
  font-size: 30px;
}

.svg-icons {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  padding-left: 50px;
  cursor: pointer;
}

.svg-icons .fa-linkedin {
  color: #12a4f3;
}

.svg-icons .fa-square-github {
  color: #ee9025;
}

.svg-icons .fa-square-instagram {
  color: rgb(255, 249, 255);
}

.svg-icons .fa-square-whatsapp {
  color: rgb(84, 196, 19);
}

button {
  border-radius: 10px;
  border: none;
  font-family: "Rock Salt", cursive;
  font-weight: 700;
  font-style: normal;
  color: rgb(148, 5, 76);
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  cursor: pointer;
}

.menu li {
  cursor: pointer;
}
